@import "@/assets/style/_theme.scss";
/* check radio */
input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
input[type="radio"]:checked {
  background-color: var(--background);
  border: 5px solid var(--text-color-active);
}


// checkbox
input[type="checkbox"]:checked ~ * {
  user-select: none;
}

input[type="checkbox"] {
  margin: 0;
}

input[type="checkbox"]:checked {
  position: relative;
}
input[type="checkbox"]:checked {
  position: relative;
}
input[type="checkbox"]:checked::before {
  content: "\2714";
  color: var(--background);
  font-size: 12px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: var(--background);
  border: 2px solid var(--text-color--1);
  border-radius:4px;
  width: 17px;
  height: 17px;
  user-select: none;

}
input[type="checkbox"]:checked {
  background-color: var(--text-color-active);
  border: 2px solid var(--text-color-active);
}
input[type="checkbox"]:checked::before {
  content: "\2714";
  color: var(--background);
  font-size: 12px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// checkbox table
tr td input[type="checkbox"]:checked ~ * {
  user-select: none;
}
tr td {
  vertical-align: middle;
}

tr td input[type="checkbox"] {
  margin: 0;
}

tr td input[type="checkbox"]:checked {
  position: relative;
}
tr th input[type="checkbox"]:checked {
  position: relative;
}
tr th input[type="checkbox"]:checked::before {
  content: "\2714";
  color: var(--background);
  font-size: 12px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: var(--background);
  border: 2px solid var(--text-color-title);
  border-radius:4px;
  width: 17px;
  height: 17px;
  user-select: none;

}
input[type="checkbox"]:checked {
  background-color: var(--text-color-active);
  border: 2px solid var(--text-color-active);
}
tr td input[type="checkbox"]:checked::before {
  content: "\2714";
  color: var(--background);
  font-size: 12px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

