:root {
  /* Font family */

  --font:'Manrope', sans-serif;

  /* text color */
  --text-color--1: #12131C;
  --text-color--2:#32373D;
  --text-color--3:#FFFFFFBF;
  --text-color-txt: #6F7180;
  --text-color-active: #3C46F5;
  --text-color-input: #C1C0C9;
  --arrow-right: #C1C0C9;

  /* backgroud */
  --backgroud:#FFFFFF;
  --bgc-item: #FBFCFD;
  --bgc-create: #3C46F57F;
  --bgc-active-menu: #E7F3FF;
  --bgc-active-item: #EEEEEE;
  --bgc-hover:#EEEEEE;
  --bgc-folder--icon:#F7F7F8;
  --bgc-item--folder:#FAFAFA;
  /* border */
  --border-color:#EDEDED;

}